.leftpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;
  height: 100vh;
}

.contentcontainer {
  overflow-y: auto;
  height: 90%;
  margin-top: 20px;
  width: 90%;
}

.query {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #282b2e;
}

.keyword {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  color: #282b2e;
  background-color: beige;
  border-radius: 30px 30px 30px 0;
  padding: 20px;
  font-family: Garamond, serif;
  overflow: scroll;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #282b2e;
  background-color: beige;
}

.item h1 {
  margin-top: 0px;
  font-size: 16px;
}

.item img {
  height: 140px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px 30px 30px 0;
  cursor: pointer;
}

.item img:hover {
  transform: scale(1.03);
  transition: transform 0.1s ease-in-out;
}

.controls {
  display: flex;
  justify-content: space-between; /* Add space between title and button */
  align-items: center;
  width: 100%;
  margin-bottom: 20px; /* Add margin at the bottom of controls */
}

.title {
  font-size: 40px;
  display: inline-block;
  color: #282b2e;
  font-family: Garamond, serif;
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 100%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.logo img {
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.blackblock {
  display: flex;
  background-color: rgb(110, 189, 215);
  color: white;
  padding: 20px;
  width: 100%;
  /* Adjust the subtraction value based on your desired left margin */
  text-align: center;
  /* Adjust the left margin value to match the body's left margin */
}

.blackblock pre {
  white-space: pre-wrap;
}

.button1 {
  margin-top: 6px;
  background-color: rgb(155, 212, 231);
  border: none;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
}

.button1:hover {
  background-color: rgb(213, 227, 232);
  font-weight: bold;
}

.button1:focus {
  outline: none;
  transform: scale(1.05);
}
